# Ignore the MP3 directory
quran_mp3s/

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore local environment files
.env
.env.local 